.dead {
	fill: rgba(0,0,0,.2);
	stroke-width: 1px;
	stroke: rgba(0,0,0,.2);
}

.dove {
	fill: #2973F2;
	stroke-width: 1px;
	stroke: #2973F2;	
}

.solo {
	fill: #FF0000;
	stroke-width: 1px;
	stroke: #FF0000;	
}

.client {
	fill: #ffff00;
	stroke-width: 1px;
	stroke: #ffff00;
}

.patron {
	fill: #EE82EE;
	stroke-width: 1px;
	stroke: #EE82EE;
}

#start {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
  margin: 8px;
}

.chart rect {
    stroke-width: 1px;
    stroke: gray;
 }